
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
html, body,#app,#container,.sections,.section,.section-content {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  margin: 0;
  color: #fff;
  font: 400 14px/1.4 "Proxima Nova",Arial,Helvetica,sans-serif;
  background: #221884;
  background: -moz-linear-gradient(45deg,#221884 0,#be3679 50%,#ffa458 100%);
  background: -webkit-linear-gradient(45deg,#221884 0,#be3679 50%,#ffa458 100%);
  background: linear-gradient(45deg,#221884 0,#be3679 50%,#ffa458 100%);
}

.sections {
  position: relative;
}

@-webkit-keyframes expand {
  0% {
    width: 100%;
    height: 0%;
    position: absolute !important;
    top: 100%;
  }

  100% {
    width: 100%;
    height: 100%;
    top: 0;
  }
}
@-webkit-keyframes exp-from-center {
  0% {
    width: 0px;
    height: 100%;
    position: absolute !important;
    top: 0;
    left: 50%;
  }

  100% {
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
  }
}
.section:nth-child(2) {
  position: absolute !important;
  top: 0;
  -webkit-animation-name: expand;
  -webkit-animation-duration: 10s;
}

/* vvv  util  vvv */

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.pointer {
  cursor: pointer;
}

/* ^^^  util  ^^^ */