
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
html, body,#app,#container,.sections,.section,.section-content {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  margin: 0;
  color: #fff;
  font: 400 14px/1.4 "Proxima Nova",Arial,Helvetica,sans-serif;
  background: #221884;
  background: -moz-linear-gradient(45deg,#221884 0,#be3679 50%,#ffa458 100%);
  background: -webkit-linear-gradient(45deg,#221884 0,#be3679 50%,#ffa458 100%);
  background: linear-gradient(45deg,#221884 0,#be3679 50%,#ffa458 100%);
}

.sections {
  position: relative;
}
.works-section {
  width: 80%;
  height: 100%;
  background: #000;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-animation-name: exp-work-section;
  -webkit-animation-duration: 6s;
  & .section {
    width: 100%;
    height: 100%;
    background: #000;
  }
}
@-webkit-keyframes expand {
  0% {
    width: 100%;
    height: 0%;
    position: absolute !important;
    top: 100%;
  }

  100% {
    width: 100%;
    height: 100%;
    top: 0;
  }
}
@-webkit-keyframes exp-from-center {
  0% {
    width: 0px;
    height: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  100% {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin:0 auto;
  }
}

@-webkit-keyframes exp-work-section {
  0% {
    width: 0px;
    height: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  100% {
    width: 80%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin:0 auto;
  }
}

/* vvv  util  vvv */
.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.pointer {
  cursor: pointer;
}
.shadow {
  -moz-box-shadow:    0 2px 15px #222222;
  -webkit-box-shadow: 0 2px 15px #222222;
  box-shadow:         0 2px 15px #222222;
}
/* ^^^  util  ^^^ */